body {
    height: 1000px;
    margin: 0;
    font-family: 'Calibri';
}

header {
    padding: 12px 12px 8px 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    border-bottom: 5px solid #f1fff1;
    background-color: #ffffff;
    z-index: 100;
}

.menu {
    font-family: 'Calibri';
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}

.menu li {
    display: inline;
}

.menu li a {
    padding: 12px 12px;
    color: #969696;
    text-decoration: none;
    cursor: pointer;
}

.menu li:nth-of-type(-n+3) a {
    font-weight: bold;
}

.menu-separator {
    border-left: 1px solid #969696;
    padding: 6px 0;
}

.logo {
    margin-left: 40px;
    width: 222px;
    height: 48px;
    background-image: url("../img/logo.png");
    background-size: cover;
}

.icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    margin-left: 10px;
}

.bag-icon {
    padding: 15px;
    background-image: url("../img/bag.png");
}

.heart-icon {
    padding: 32px;
    background-image: url("../img/heart.png");
}

.media-icon {
    font-size: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    padding: 20px;
    margin-right: 7px;
    margin-top: 20px;
}

.media-icon:hover {
    opacity: 0.9;
}

.facebook-icon {
    background-image: url("../img/facebook_icon.png");
}

.twitter-icon {
    background-image: url("../img/twitter_icon.png");
}

.google-icon {
    background-image: url("../img/google_icon.png");
}

.pinterest-icon {
    background-image: url("../img/pinterest_icon.png");
}

.dropdown-content {
    display: none;
    margin-top: 12px;
    right: 24px;
    position: absolute;
    width: 295px;
    height: 395px;
    -webkit-box-shadow: -12px 19px 82px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: -12px 19px 82px -19px rgba(0,0,0,0.75);
    box-shadow: -12px 19px 82px -19px rgba(0,0,0,0.75);
}

.dropdown-content-share-it {
    background-color: #dff0f8;
    padding: 20px 20px 30px 20px;
}

.share-it-icons {
    display: flex;
    justify-content: center;
}

.dropdown-content-subscribe {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 30px 15px;
}

.dropdown-content-subscribe h2 {
    font-family: 'Fjalla One';
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    margin: 0;
}

.dropdown-content-subscribe p {
    text-align: center;
}

.dropdown-content-subscribe input {
    background-color: #e9eafe;
    text-align: center;
    padding: 10px;
    border: none;
    outline: none;
    margin-top: 12px;
}

.subscribe-btn {
    background-color: #0898d3;
    font-family: 'Fjalla One';
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    margin: 30px 45px 0 45px;
    outline: none;
}

.subscribe-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}


.section-1 {
    margin-top: 40px;
    background-image: url("../img/bg_header.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    z-index: 2;
}

.facial-sheet-img {
    background-image: url("../img/facial_sheet.png");
    position: absolute;
    transform: rotate(-10deg);
    right: 25vw;
    top: 15vw;
    background-size: cover;
    width: 20vw;
    height: 26vw;
	animation: float 6s ease-in-out infinite;
}

@media screen and (min-width: 1600px) {
    .section-1 {
        height: 900px;
        background-position-y: bottom;
    }
}

@media screen and (max-width: 1600px) {
    .section-1 {
        background-position-y: top;
        height: 60vw;
    }
}

@keyframes float {
	0% {
        transform: translatey(0px) rotate(-10deg);
	}
	50% {
        transform: translatey(-20px) rotate(-10deg);
	}
	100% {
        transform: translatey(0px) rotate(-10deg);
	}
}

.section-1-text {
    position: absolute;
    font-family: 'Calibri';
    color: #a09e9e;
    font-weight: bold;
    font-size: 36px;
    top: 20vw;
    left: 10vw;
    width: 500px;
}

.selected-words {
    color: #02ffcc;
    text-shadow: 4px 4px 4px #B3B5B4;
}

.section-2 {
    margin-top: 50px;
    background-color: #ffffff;
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.bubble {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: -12px 19px 82px -19px rgba(0,0,0,0.75);
    z-index: 1;
}

.bubble_1 {
    background-image: url("../img/bubble_1.png");
    width: 6vw;
    height: 6vw;
}

.bubble_2 {
    background-image: url("../img/bubble_2.png");
    width: 6vw;
    height: 6vw;
}

.bubble_3 {
    background-image: url("../img/bubble_3.png");
    width: 5vw;
    height: 5vw;
}

.bubble_4 {
    background-image: url("../img/bubble_4.png");
    width: 4vw;
    height: 4vw;
}

.bubble_5 {
    background-image: url("../img/bubble_5.png");
    width: 4vw;
    height: 4vw;
}

.bubble_6 {
    background-image: url("../img/bubble_6.png");
    width: 4vw;
    height: 4vw;
}

.bubble_7 {
    background-image: url("../img/bubble_7.png");
    width: 5vw;
    height: 5vw;
}

.bubble_8 {
    background-image: url("../img/bubble_8.png");
    width: 6vw;
    height: 6vw;
}

.bubble_9 {
    background-image: url("../img/bubble_9.png");
    width: 6vw;
    height: 6vw;
}

.facial-sheet-with-circles-img {
    background-image: url("../img/facial_sheet_with_circles.png");
    background-size: contain;
    width: 30vw;
    height: 30vw;
    z-index: 2;
}

.section-2-text {
    margin-left: 4vw;
    width: 35vw;
    font-family: 'Calibri';
}

.section-2-text h2 {
    font-size: 26px;
    color: #535353;
}

.section-2-text p {
    font-size: 15px;
    color: #6d6d6d;
}

.section-3 {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3 p {
    width: 30vw;
    font-size: 15px;
    color: #6d6d6d;
    margin-bottom: 70px;
}

.section-3 h2 {
    margin-top: 70px;
    color: #535353;
    font-family: 'Calibri';
    font-size: 26px;
}

.section-3-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.facial-sheet-on-board-img {
    width: 25vw;
    height: 25vw;
    background-color: red;
}

.slider {
    width: 30vw;
    height: 300px;
    margin-left: 5vw;
}

.slide {
    outline: none;
}

.slide-header {
    display: flex;
    align-items: center;
}

.slide-title {
    font-size: 16px;
    font-weight: bold;
    color: #6d6d6d;
    margin-left: 10px;
}

.slide-number {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 18px;
    border-radius: 50%;
    border: 2px solid #6d6d6d;
    background-color: #eaffed;
}

.slide-description {
    font-size: 14px;
    color: #535353;
}

.slide-img {
    width: 80px;
    height: 40px;
    margin: 25px 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide1-img {
    background-image: url("../img/slide1_image.png");
}

.slide2-img {
    background-image: url("../img/slide2_image.png");
}

.slide3-img {
    background-image: url("../img/slide3_image.png");
}

.slide4-img {
    background-image: url("../img/slide4_image.png");
}

.slide5-img {
    background-image: url("../img/slide5_image.png");
}

.discover-btn {
    float: right;
    margin: 10px 80px;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #15e2a0;
    text-decoration: none;
    background-color: #fafafa;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.19);
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.19);
    outline: none;
}

.first_block span{
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid;
    /* padding: 9px; */
    border-radius: 22px;
    padding-left: 12px;
    padding-right: 12px;
    background: #eafff0;
}
.second_block span{
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid;
    /* padding: 9px; */
    border-radius: 22px;
    padding-left: 12px;
    padding-right: 12px;
    background: #eafff0;
}
.third_block {
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid;
    /* padding: 9px; */
    border-radius: 22px;
    padding-left: 12px;
    padding-right: 12px;
    background: #eafff0;
}
