body {
    height: 1000px;
    margin: 0;
    font-family: 'Calibri';
}

header {
    padding: 12px 12px 8px 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    border-bottom: 5px solid #f1fff1;
    background-color: #ffffff;
    z-index: 100;
}

.menu {
    font-family: 'Calibri';
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}

.menu li {
    display: inline;
}

.menu li a {
    padding: 12px 12px;
    color: #969696;
    text-decoration: none;
    cursor: pointer;
}

.menu li:nth-of-type(-n+3) a {
    font-weight: bold;
}

.menu-separator {
    border-left: 1px solid #969696;
    padding: 6px 0;
}

.logo {
    margin-left: 40px;
    width: 222px;
    height: 48px;
    background-image: url("../img/logo.png");
    background-size: cover;
}

.icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    margin-left: 10px;
}

.bag-icon {
    padding: 15px;
    background-image: url("../img/bag.png");
}

.heart-icon {
    padding: 32px;
    background-image: url("../img/heart.png");
}

.media-icon {
    font-size: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    padding: 20px;
    margin-right: 7px;
    margin-top: 20px;
}

.media-icon:hover {
    opacity: 0.9;
}

.facebook-icon {
    background-image: url("../img/facebook_icon.png");
}

.twitter-icon {
    background-image: url("../img/twitter_icon.png");
}

.google-icon {
    background-image: url("../img/google_icon.png");
}

.pinterest-icon {
    background-image: url("../img/pinterest_icon.png");
}

.dropdown-content {
    display: none;
    margin-top: 12px;
    right: 24px;
    position: absolute;
    width: 295px;
    height: 395px;
    -webkit-box-shadow: -12px 19px 82px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: -12px 19px 82px -19px rgba(0,0,0,0.75);
    box-shadow: -12px 19px 82px -19px rgba(0,0,0,0.75);
}

.dropdown-content-share-it {
    background-color: #dff0f8;
    padding: 20px 20px 30px 20px;
}

.share-it-icons {
    display: flex;
    justify-content: center;
}

.dropdown-content-subscribe {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 30px 15px;
}

.dropdown-content-subscribe h2 {
    font-family: 'Fjalla One';
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    margin: 0;
}

.dropdown-content-subscribe p {
    text-align: center;
}

.dropdown-content-subscribe input {
    background-color: #e9eafe;
    text-align: center;
    padding: 10px;
    border: none;
    outline: none;
    margin-top: 12px;
}

.subscribe-btn {
    background-color: #0898d3;
    font-family: 'Fjalla One';
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    margin: 30px 45px 0 45px;
    outline: none;
}

.subscribe-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}


.section-1 {
    margin-top: 40px;
    background-image: url("../img/bg_header.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
}

.facial-sheet-img {
    background-image: url("../img/facial_sheet.png");
    position: absolute;
    transform: rotate(-10deg);
    right: 25vw;
    top: 15vw;
    background-size: cover;
    width: 20vw;
    height: 26vw;
	animation: float 6s ease-in-out infinite;
}

@media screen and (min-width: 1600px) {
    .section-1 {
        background-position-y: bottom;
    }
}

@media screen and (max-width: 1600px) {
    .section-1 {
        background-position-y: top;
    }
}

@keyframes float {
	0% {
        transform: translatey(0px) rotate(-10deg);
	}
	50% {
        transform: translatey(-20px) rotate(-10deg);
	}
	100% {
        transform: translatey(0px) rotate(-10deg);
	}
}

.section-1-text {
    position: absolute;
    font-family: 'Calibri';
    color: #a09e9e;
    font-weight: bold;
    font-size: 36px;
    top: 20vw;
    left: 10vw;
    width: 500px;
}

.myth-word {
    color: #02ffcc;
    text-shadow: 4px 4px 4px #B3B5B4;
}

.first_block span{
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid;
    /* padding: 9px; */
    border-radius: 22px;
    padding-left: 12px;
    padding-right: 12px;
    background: #eafff0;
}
.second_block span{
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid;
    /* padding: 9px; */
    border-radius: 22px;
    padding-left: 12px;
    padding-right: 12px;
    background: #eafff0;
}
.third_block {
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid;
    /* padding: 9px; */
    border-radius: 22px;
    padding-left: 12px;
    padding-right: 12px;
    background: #eafff0;
}
