body {
    height: 1000px;
    margin: 0;
}

.header {
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.menu {
    margin-right: 40px;
    font-family: 'Calibri';
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}

.menu li {
    display: inline;
}

.menu li a {
    padding: 12px 12px;
    color: #969696;
    text-decoration: none;
}

.menu li:nth-of-type(-n+3) a {
    font-weight: bold;
}

.menu-separator {
    border-left: 1px solid #969696;
    padding: 6px 0;
}

.logo {
    margin-left: 40px;
    width: 222px;
    height: 48px;
    background-image: url("../img/logo.png");
    background-size: cover;
}

.icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    margin-left: 10px;
}

.bag-icon {
    padding: 15px;
    background-image: url("../img/bag.png");
}

.heart-icon {
    padding: 32px;
    background-image: url("../img/heart.png");
}